* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #000 url('images/bg.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

/*-----HEADER----- */
header {
  height: 200px;
}

header img {
  width: 200px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-----SEARCH----- */
.search {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type='text'] {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 500px;
  margin: auto;
  outline: none;
}
.btn {
  display: inline-block;
  color: #fff;
  background-color: rgb(1, 165, 1);
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 150px;
  margin: auto;
  outline: none;
}
/*-----MOVIES----- */

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/*-----SINGLE MOVIE----- */
.movie-container {
  margin: 70px 100px 70px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid goldenrod 1px;
}

.movie-container img {
  float: left;
}
.movie-container .description {
  margin: 0px 70px 100px 70px;
  overflow: hidden;
}
.description h4{
  color: rgb(228, 171, 26);
  margin: 40px 0 0 250px;
}

.movie-container h1 {
  font-size: 35px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.movie-container li {
  font-size: 18px;
  list-style: none;
  padding-bottom: 10px;
}

/*-----Rating MOVIE----- */
.rating {
  margin: 20px 0 0 300px;
}

.rating button{
  border: none;
  margin: 5px 10px 10px 10px;
}

.rating img {
  height: 40px;
  width: 40px;
  background-color: rgb(1,59,115);
}

.RatingTable {
  color: #000;
  font-size: 1rem;
}

.RatingTable th {
  padding: 0 0 0 60px;
  width: 30px;
}

.RatingTable td {
  background-color: white;
  border-radius: 5px;
  padding: 0 0 0 25px;
}

/*-----------Footer--------------*/
.footer {
  height: 4rem;
  background: rgb(4, 4, 17);
  text-align: center;
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer h4 {
  margin-top: 0.5rem;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.75rem;
}
